<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/saved-articles">Saved Articles</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="header">
        <div class="row">
            <div class="col text-center">
                <h1 id="title">NPR Music News Scraper</h1>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col text-center">
            <button type="button" id="generate" class="btn btn-secondary">Scrape New Articles</button>
        </div>
    </div>
    <br>

    {{!-- articles go here  --}}

    {{#each npr}}
    <div id="articles" class="card">
        <div class="row">
            <div class="col-4">
                <img src="{{image}}" alt="News Image">
            </div>
            <div class="col-8">
                <a href="{{link}}">
                    <h3>{{title}}</h3>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="card-text">{{summary}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" data-id="{{id}}" class="btn save">Save</button>
            </div>
        </div>
    </div>
    <br>
    {{/each}}
</div>